<fieldset>
    <legend>Patient Demographics</legend>
    <div>
        <label for="ageVal">Age:</label>
        <input type="number" id="ageVal" class="age demog" />
        <select id="ageModifier" class="age demog">
            <option value="y">years</option>
            <option value="m">months</option>
            <option value="w">weeks</option>
            <option value="d">days</option>
        </select>
        <input type="hidden" id="age" name="age" class="demog" />
    </div>
    <div>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" class="demog">
            <option value="f" selected="selected">Female</option>
            <option value="m">Male</option>
        </select>
    </div>
    <div>
        <label for="ht">Height (cm):</label>
        <input type="number" class="demog" name="ht" id="ht" min=0 step="0.1" />
    </div>
    <div>
        <label for="wt">Weight (kg):</label>
        <input type="number" name="wt" id="wt" class="demog" min=0 step="0.1" />
    </div>
    <div>
        <label for="bsa">BSA {% if ref.bsaMethod %}("<span id="bsaMethod">{{ref.bsaMethod}}</span>"){% endif %}:</label>
        <input type="text" id="bsa" class="bsa" disabled="disabled" />
    </div>
</fieldset>
<fieldset>
    <div>
        <label for="bmi">BMI:</label>
        <input type="text" id="bmi" class="bmi" disabled="disabled" />
    </div>
    <div class="bmi-z">
        <label for="bmiz">BMI-for-Age Z-Score:</label>
        <input type="text" id="bmiz" class="bmi" disabled="disabled" />
    </div>
    <p class="bmi-z notice">Note: BMI Z-scores are only available for ages greater than 2 and less than 20 yrs.</p>
    <div class="bmi-derived">
                <p>This patient's BMI appears to be outside of the 15th-85th percentiles<span id="bmi-classification"></span>.<br/>
                    </p>

    </div>
    <div id='altResults' class="bmi-derived">
        <label for="alternateWt">Weight at BMI <span class="centile">85</span>th percentile:</label>
        <input type="text" id="alternateWt" class="bmi" disabled="disabled" />
    </div>
</fieldset>