<!DOCTYPE html>
<html lang="en-US">
{% include "includes/top.html" %}
    <body class="wrap">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        {% include "includes/header.html" %}
        {% if nav_item %}{% endif %}
        {% block content %}
        {% endblock %}

        {% include "includes/footer.html" %}
        <script src="/static/js/plugins.js"></script>

    </body>
</html>
